*
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

    body{
        margin: 0px;
        background-color: #ffffff;
    }
    .dashboard{
        padding: 25px 75px;
        margin: 0 auto;
        
    }


    /* dashboard icons */

     .navigation{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

    }
      .logokaboodle {
          width: 100px;
          height: 100px;
          border-radius: 10px;
      }

      .dashboard-icons{
          margin-left: 5px;
          margin-right: 5px;
          font-size: 30px;
          color: #787979;
      }
      .bubble1{
          padding: 20px;
          background-color:#f6dfeb;
          width: 115px;
          height: 100px;
          border-radius: 25px;
          text-align: center;
        }

        .bubble2{
            padding: 20px;
            background-color:#caf7e3;
            width: 115px;
            height: 100px;
            border-radius: 25px;
            text-align: center;
          }

          .bubble3{
            padding: 20px;
            background-color:#fff8d9;
            width: 115px;
            height: 100px;
            border-radius: 25px;
            text-align: center;
          }

          .bubble4{
            padding: 20px;
            background-color:#fff5eb;
            width: 115px;
            height: 100px;
            border-radius: 25px;
            text-align: center;
          }
          

       
          


        
    
      